[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
sqlalchemy = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
httpx = "*"
pytest = "*"
pytest-env = "*"
mypy = "*"

[requires]
python_version = "3.11"

[scripts]
app = "uvicorn toypo.main:app --reload"
autoformat = "autopep8 --in-place --recursive toypo"
lint = "pylint toypo"
test = "pytest"
